@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.cartContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartContainer-block-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.cartContainer-block-2{
    display: flex;
    justify-content: center;
}

.cartEmpty{
    color: #4D5E80;
    margin: 5vh auto;
}

@media screen and (min-width: 600px){
    .cartEmpty{
        font-size: 28px;
    }
}

