@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

.productCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: 'Roboto', sans-serif;
    border: solid 1px white;
    border-radius: 10px;
    width: 80vw;
    box-shadow: 0 0 4px 0 #26334D;
    background-color: white;
    padding: 10px 0;
}

.linkProductDetail{
    text-decoration: none;
    background-color: white;
    color: rgb(77, 94, 128);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


@media screen and (min-width: 400px){
    .productCard{
        width: 70vw;
    }
}


@media screen and (min-width: 500px){
    .productCard{
        width: 60vw;
    }
}

@media screen and (min-width: 600px){
    .productCard{
        width: 40vw;
    }
}
