@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.formularioUsuario{
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 75vh;
    gap: 2vh;
    margin: 0 auto;
    margin-top: 3vh;
    border: solid 1px #838da1;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 #26334D;
}

.formularioUsuario label{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #586870;
    margin: 0 10%;
}

.formularioUsuario input{
    width: 80%;
    height: 6%;
    margin: 0 auto;
    border: solid 1px #C0C6C9;
    border-radius: 8px;
    padding: 10px;
    font-size: 12px;
    color: #6B7A99;
}

.formularioUsuario input:focus{
    outline: none;
}

.formularioUsuario .inputMensaje{
    height: 25%;
}

.formularioUsuario button{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 3% 10%;
    color: white;
    background-color: #4A55A2;
    align-self:self-end;
    border: solid 1px #C0C6C9;
    border-radius: 8px;
    padding: 8px 20px;
    cursor: pointer;
}

.formularioUsuario h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #586870;
    margin: 8% 10% 0 10%;
    font-size: 18px;
}


@media screen and (min-width: 600px){
    .formularioUsuario label{
        margin: 0 17.5%;
    }
    .formularioUsuario input{
        width: 65%;
    }
    .formularioUsuario h3{
        margin: 3% 17.5% 0 17.5%;
    }
    .formularioUsuario{
        width: 58vw;
        height: 65vh;
    }
    .formularioUsuario button{
        margin: 2% 17.5%;
    }
}

@media screen and (min-width: 1000px){
    .formularioUsuario label{
        font-size: 18px;
    }
    .formularioUsuario button{
        font-size: 20px;
    }
    .formularioUsuario h3{
        font-size: 22px;
    }
    .formularioUsuario input{
        font-size: 22px;
    }
    .formularioUsuario{
        width: 45vw;
        height: 72vh;
    }
}