@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

.footer-container{
    display: flex;
    justify-content: center;
    padding: 35px 16px;
}

.footer-block{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-block-1{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    gap: 20px;
}

.footer-block-1 h3{
    font-size: 14px;
    color: #4D5E80;
    font-weight: 700;
}

.footer-block-2{
    display: flex;
    gap: 20px;
}

.footer-block-2 ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Roboto', sans-serif ;
    color: #6B7A99;
    font-size: 11px;
}

.footer-block-2 ul li{
    list-style-type: none;
}

.footer-block-3{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Roboto', sans-serif ;
    color: #ADB8CC;
    font-size: 10px;
}


@media screen and (min-width: 600px){
    .footer-container{
        padding: 35px 55px;
    }
    .footer-block{
        flex-direction: row;
        gap: 55px;
    }
    .footer-block-1{
        flex-direction: column;
        align-items: normal;
    }
}


