.footer-container{
    display: flex;
    justify-content: center;
    padding: 35px 16px;
}

.footer-block{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-block-1{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-block-1 h3{
    font-size: 14px;
    color: #4D5E80;
    font-weight: 700;
}

.footer-block-1 p{
    font-size: 10px;
    color: #ADB8CC;
    font-weight: 700;
}

.footer-block-2{
    display: flex;
    gap: 20px;
}

.footer-block-2 ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #6B7A99;
    font-size: 11px;
}

.footer-block-2 ul li{
    list-style-type: none;
}

.footer-block-3{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #ADB8CC;
    font-size: 10px;
}


@media screen and (min-width: 600px){
    .footer-container{
        padding: 35px 55px;
    }
    .footer-block{
        flex-direction: row;
        gap: 55px;
    }
    .footer-block-1{
        flex-direction: column;
        align-items: normal;
    }
}

@media screen and (min-width: 900px){
    .footer-container{
        padding: 40px 155px;
    }
    .footer-block-2 ul{
        font-size: 13px;
    }
    .footer-block-3{
        font-size: 12px;
    }
    .footer-block-1 h3{
        font-size: 16px;
    }
    .footer-block-1 p{
        font-size: 12px;
    }
}

@media screen and (min-width: 1200px){
    .footer-container{
        padding: 40px 0;
        width: 93vw;
    }
    .footer-block{
        gap: 100px;
    }
    .footer-block-2{
        gap: 40px;
    }
    .footer-block-2 ul{
        font-size: 16px;
    }
    .footer-block-3{
        font-size: 15px;
    }
    .footer-block-1 h3{
        font-size: 19px;
    }
    .footer-block-1 p{
        font-size: 15px;
    }
}

@media screen and (min-width: 1400px){
    .footer-block{
        gap: 140px;
    }
    .footer-block-2{
        gap: 80px;
    }
    .footer-block-1{
        gap: 30px;
    }
    .footer-block-3{
        gap: 30px;
    }
}

